<% include ./partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header"><%= foundBlog.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image"src="<%= foundBlog.image %>" alt="">
            </div>
            <div class="content">
                <span><%= foundBlog.created.toDateString() %></span>
            </div>  
            <div class="description">
                <p><%- foundBlog.body %></p>
            </div>
        </div>
    </div>
<% include ./partials/footer %>

